.About__Skills {
  display: flex;
  flex-wrap: wrap;
}

.About__SkillSection {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .About__SkillSection {
    width: 50%;
  }
}

.About__Terminal {
  display: flex;
  justify-content: center;
  width: 100%;
}
