.Contact {
  font-family: Arcade;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contact__LinkButtons {
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  color: black;
  margin-bottom: 20px;
}

.Contact__LinkButton {
  cursor: pointer;
}

.Contact__LinkButton:hover {
  font-weight: bold;
}

.Contact__LinkButton--selected {
  text-decoration: underline;
}

.Contact__Link {
  font-size: 25px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.5s;
  position: absolute;
}

.Contact__Link--selected {
  opacity: 1;
}

.Contact__Info {
  display: flex;
  justify-content: center;
  position: relative;
}

@media only screen and (max-width: 450px) {
  .Contact__Link {
    font-size: 20px;
  }

  .Contact__LinkButtons {
    font-size: 30px;
    width: 200px;
  }
}